/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

/public/css
/public/js
/public/fonts
/public/img
/public/plugins
/public/mix-manifest.json
/public/images
