/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.phpstorm.meta.php
_ide_helper.php
/storage/debugbar

/public/css
/public/js
/public/fonts
/public/img
/public/plugins
/public/mix-manifest.json
