// Variables
@import "variables";

// Bootstrap
@import "~materialize-css/sass/materialize.scss";

@import "modules/prism.css";
@import "modules/article.scss";
@import "modules/widget.scss";
@import "modules/sidenav.scss";

[v-cloak] { display: none; }

// Sticky Footer
body div#app {
  display: flex;
  display: -webkit-flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}