/* Home page*/
.post-card .card-content {
    padding-bottom: 0
}

.post-card .post-meta {
    margin-top: 0;
}

.post-meta ul li {
    display: inline-block;
    margin-right: 16px
}

.post-meta ul li i {
    vertical-align: middle;
    margin-right: 10px
}

.post-card .excerpt {
    /*font-size: 1.22rem;*/
}

.post-card .post-tag {
    padding: 12px 24px;
}

.post-card .post-tag i {
    vertical-align: middle;
    margin-right: 10px
}

/* Detail page*/
.article .post-meta {
    padding-left: 24px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: none
}

.article .post-meta i {
    vertical-align: middle;
    margin-right: 10px
}

.article .post-meta .chip {
    border: solid 1px rgba(0, 0, 0, 0.6);
}