.meta-list {
    ul {
        display: flex;
        display: -webkit-flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            display: flex;
            display: -webkit-flex;
            align-items: center;
            margin-left: 8px;
            margin-right: 8px;

            a {
                color: inherit;
            }

            i {
                vertical-align: middle;
                margin-right: 10px
            }
        }
    }
}

.tag-list {
    padding: 12px 24px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: wrap;

    a.chip {
        margin-top: 3px;
        margin-bottom: 3px;
    }

    i {
        margin-right: 10px
    }
}

// Post related
.post-main {
    padding-top: 1rem;
    font-size: 16px;
    line-height: 2.0;

    h1,h2,h3,h4,h5,h6,strong {
        font-weight: bold;
    }

    h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
    }

    .post-desc, .post-copyright {
        blockquote {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .post-body {
        ul {
            margin-left: 25px;

            li {
                list-style-type: initial;
            }
        }

        .card-panel {
            padding-bottom: 0;

            @media #{$small-and-down} {
                padding-left: 14px;
                padding-right: 14px;
            }

            &.page-panel {
                padding-bottom: 24px !important;
            }

            .post-content {
                img {
                    max-width: 100%;
                }
            }

            .post-content-tag {
                margin-left: -24px;
                margin-right: -24px;
            }
        }

        .post-tag {
            padding-left: 24px;
            margin-left: -24px;
            margin-right: -24px;
            margin-bottom: -24px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            box-shadow: none;

            i {
                vertical-align: middle;
                margin-right: 10px
            }

            a.chip {
                border: solid 1px rgba(0, 0, 0, 0.6);
            }
        }
    }

    .post-copyright {
        .card-panel {
            padding-top: 8px;
            padding-bottom: 8px;
        }

        .license-badge {
            height: 1rem;
        }
    }

    .post-pre-next {
        .post-pre {
            text-align: left;
            width: 100%;
        }

        .post-next {
            text-align: right;
            width: 100%;
        }
    }

    .post-comment {

    }
}