.side-nav .user-view {
    position: relative;
    padding: 32px 32px 0;
    margin-bottom: 8px
}

.side-nav .user-view>a {
    height: auto;
    padding: 0
}

.side-nav .user-view>a:hover {
    background-color: transparent
}

.side-nav .user-view .background {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}

.side-nav .user-view .circle,.side-nav .user-view .name,.side-nav .user-view .email {
    display: block
}

.side-nav .user-view .circle {
    height: 64px;
    width: 64px
}

.side-nav .user-view .name,.side-nav .user-view .email {
    font-size: 14px;
    line-height: 24px
}

.side-nav .user-view .name {
    margin-top: 16px;
    font-weight: 500
}

.side-nav .user-view .email {
    padding-bottom: 16px;
    font-weight: 400
}

@media only screen and (max-width: 992px) {
    .side-nav .user-view {
        padding: 16px 16px 0;
    }
}

.side-nav .collapsible .collapsible-header {
    padding-left: 30px;
    font-weight: 500;
}

.side-nav .collapsible .collapsible-header .material-icons {
    margin-right: 28px;
}